<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="InstaApp like Instagram">
    <meta name="keywords" content="instaapp, instagram">
    <meta name="author" content="putrachajar">
    <title>InstaApp</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    
    <div class="container" id="content"></div>
    <div id="modals"></div>
</body>
</html>