.batch-item {
    border: 1px solid #2c3e50;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.batch-item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.batch-item .batch-no {
    color: #c22c2c;
    font-size: 3em;
    font-weight: bold;
    margin-right: 20px;
}

.batch-item .batch-date {
    color: #2c3e50;
    font-size: 0.8em;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.batch-item .batch-date .batch-date-start {
    white-space: nowrap;
}

.batch-item .batch-date .batch-date-sprt {
    white-space: nowrap;
}

.batch-item .batch-date .batch-date-end {
    white-space: nowrap;
}

.batch-item .batch-status {
    width: 50px;
    height: 25px;
    line-height: 25px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.batch-item .batch-status.open {
    background-color: #2ecc71;
}

.batch-item .batch-status.close {
    background-color: #c22c2c;
}

.batch-item .hapus {
    display: none;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    background-color: #c22c2c;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(0, -50%);
}

.batch-item:hover .hapus {
    display: inline-block;
}

.batch-item .edit {
    display: none;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    background-color: #c22c2c;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 53px;
    transform: translate(0, -50%);
}

.batch-item:hover .edit {
    display: inline-block;
}

.batch-item .detail {
    display: none;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    background-color: #c22c2c;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
}

.batch-item:hover .detail {
    display: inline-block;
}