footer {
    color: #c22c2c;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer img {
    width: 50px;
    height: 50px;
}

footer .siskom {
    margin: 10px 0;
    user-select: none;
}

footer .separator {
    margin: 20px;
    display: flex;
}

footer .separator > div {
    background-color: #c22c2c;
    width: 10px;
    height: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

footer .separator div:nth-child(2) {
    width: 30px;
}

footer .copyright {
    user-select: none;
}

footer .copyright .love {
    color: salmon;
}

footer::before {
    content: '';
    border-top: 1px solid #c22c2c;
    width: 70%;
    position: absolute;
    top: 0;
}