.order-item {
    border: 1px solid #2c3e50;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.order-item .order-no {
    color: #c22c2c;
    font-size: 3em;
    font-weight: bold;
    margin-right: 20px;
}

.order-item .order-desc {
    color: #2c3e50;
    font-size: 0.8em;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.order-item .order-desc > span {
    margin: 2px 0;
}

.order-item .order-desc .order-desc-nodok {
    white-space: nowrap;
}

.order-item .order-desc .order-desc-isc {
    white-space: nowrap;
}

.order-item .order-desc .order-desc-ae {
    white-space: nowrap;
}

.order-item .order-desc .order-desc-cust {
    white-space: nowrap;
}

.order-item .order-status {
    display: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.order-item .order-status.y {
    display: block;
    background-color: #2ecc71;
}

.order-item .order-status.t {
    display: block;
    background-color: #c22c2c;
}